extends layout

block content

 div.ts.center.aligned.small.slate
  h2.ts.primary.header
   i.mini.fitted.signal.small.icon
   |&nbspSensors
 div
  img(src='images/bed.png')(style='position:relative;height:780px;left:13%;top:0px;z-index:1')
  a(href='/sensorlist/'+datas[0])(style='position:absolute;top:30px;left:14%;z-index:2')(data-tooltip=datas[0])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[1])(style='position:absolute;top:30px;left:26%;z-index:2')(data-tooltip=datas[1])
   img(src='images/plant.png') 
  a(href='/sensorlist/'+datas[2])(style='position:absolute;bottom:10px;left:14%;z-index:2')(data-tooltip=datas[2])
   img(src='images/plant.png')   
  a(href='/sensorlist/'+datas[3])(style='position:absolute;bottom:10px;left:26%;z-index:2')(data-tooltip=datas[3])
   img(src='images/plant.png')

 

  img(src='images/bed.png')(style='position:relative;height:780px;left:23%;top:0px;z-index:1')
  a(href='/sensorlist/'+datas[4])(style='position:absolute;top:30px;left:43%;z-index:2')(data-tooltip=datas[4])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[5])(style='position:absolute;top:30px;left:55%;z-index:2')(data-tooltip=datas[5])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[6])(style='position:absolute;bottom:10px;left:43%;z-index:2')(data-tooltip=datas[6])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[7])(style='position:absolute;bottom:10px;left:55%;z-index:2')(data-tooltip=datas[7])
   img(src='images/plant.png')


  
  img(src='images/bed.png')(style='position:relative;height:780px;left:33%;top:0px;z-index:1')
  a(href='/sensorlist/'+datas[8])(style='position:absolute;top:30px;left:71%;z-index:2')(data-tooltip=datas[8])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[9])(style='position:absolute;top:30px;left:84%;z-index:2')(data-tooltip=datas[9])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[10])(style='position:absolute;bottom:10px;left:71%;z-index:2')(data-tooltip=datas[10])
   img(src='images/plant.png')
  a(href='/sensorlist/'+datas[11])(style='position:absolute;bottom:10px;left:84%;z-index:2')(data-tooltip=datas[11])
   img(src='images/plant.png')

	


